body {
    background-image: url(rockpaper.jpg);
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

button {
    color: black;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: white;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

button:hover {background-color: white}

button:active {
  background-color: white;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.result{
   margin: 400px;
   display: flex;
}